# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\library-app\02-backend\spring-boot-library\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
